{% extends "item_add/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.itemName|as_crispy_field}}
    {{form.price|as_crispy_field}}
    <div class="row">
        <div class="col-md-8">
            {{form.category|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit"></i>Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'item_list' %}">Back to list</a>
        </div>
    </div>

</form>
{% endblock content %}